/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #ffffff;
}

html {
    --primaryGradient: linear-gradient(93.12deg, #ff001e 0.52%, #ff001e 100%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --primary: #00ff2f;
}

/* CHATBOX */
.chatbox {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    background: var(--primaryGradient);
    border-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(0);
    opacity: 0;
    z-index: -1;
}

.chatbox--active {
    transform: translateY(0);
    opacity: 1;
    z-index: 1;
}

.chatbox__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.chatbox__header img {
    margin-right: 10px;
}

.chatbox__content--header {
    text-align: center;
    color: white;
}

.chatbox__heading--header {
    font-size: 1.2rem;
}

.chatbox__description--header {
    font-size: 0.9rem;
}

.chatbox__messages {
    padding: 10px 20px;
    flex-grow: 1;
    overflow-y: auto;
}

.messages__item {
    margin-top: 10px;
    padding: 8px 12px;
    max-width: 70%;
    word-wrap: break-word;
    border-radius: 20px;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

.chatbox__footer {
    padding: 10px 20px;
    background: var(--primaryGradient);
    box-shadow: var(--primaryBoxShadow);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbox__footer input {
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 30px;
}

.chatbox__send--footer {
    color: white;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.chatbox__button button {
    padding: 10px;
    background: white;
    border: none;
    outline: none;
    border-radius: 50%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Add your other styles here */
