<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="chatbox">
            <div class="chatbox__header">
                <div class="chatbox__image--header">
                    <img src="{{ url_for('static', filename='images/kaswu.png') }}" alt="image">
                </div>
                <div class="chatbox__content--header">
                    <h4 class="chatbox__heading--header">Kaswu</h4>
                    <p class="chatbox__description--header">Hei, olen valmentajasi. Miten voisin auttaa sinua?</p>
                </div>
            </div>
            <div class="chatbox__messages">
                <div class="bot-typing-container">
                    <div class="messages__item messages__item--bot-typing">...</div>
                </div>
            </div>
            <div class="chatbox__footer">
                <input type="text" placeholder="Kirjoita jotain botille...">
                <button class="chatbox__send--footer send__button">Send</button>
            </div>        
        </div>
        <div class="chatbox__button">
            <button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" alt="Chat Icon" /></button>
        </div>
    </div>

    <script>
        const SCRIPT_ROOT = {{ request.script_root|tojson }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
